<ExcelMappingSection>
  <ExcelMappings>
    <ExcelMapping Name="Aduana">
      <Mappers>
        <Mapper Name="MapAduana">
          <MapElements>
            <MapElement NoColumn="0" Attribute="Clave" Ignore="false" Default="" Format="00"/>            
            <MapElement NoColumn="" Attribute="FechaInicioVigencia" Ignore="true" Default="01/01/2017" Format="" />
            <MapElement NoColumn="" Attribute="FechaFinVigencia" Ignore="true" Default="null" Format="" />
            <MapElement NoColumn="" Attribute="Version" Ignore="true" Default="1.0" Format="" />
          </MapElements>
        </Mapper>
      </Mappers>
      <Sheets>
        <Sheet NoSheet="1" SheetName="c_Aduana" RowNumberStartData="6" RowNumberStopData = "54" Map="MapAduana"/>
      </Sheets>
    </ExcelMapping>

    <!--<ExcelMapping Name="ProductoServicio">
      <Mappers>
        <Mapper Name="MapProductoServicio">
          <MapElements>
            <MapElement NoColumn="0" Attribute="Clave" Ignore="false" Default="" Format="00000000"/>            
            <MapElement NoColumn="2" Attribute="FechaInicioVigencia" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="4" Attribute="IncluirIvaTraslado" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="5" Attribute="IncluirIepsTraslado" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="6" Attribute="Complemento" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="" Attribute="FechaFinVigencia" Ignore="true" Default="null" Format="" />
            <MapElement NoColumn="" Attribute="Version" Ignore="true" Default="1.0" Format="" />
          </MapElements>
        </Mapper>
      </Mappers>
      <Sheets>
        <Sheet NoSheet="1" SheetName="c_ClaveProdServ" RowNumberStartData="6" RowNumberStopData = "52844" Map="MapProductoServicio"/>
      </Sheets>
    </ExcelMapping>


    <ExcelMapping Name="CodigoPostal">

      <Mappers>
        <Mapper Name="MapCP">
          <MapElements>
            <MapElement NoColumn="0" Attribute="CodigoPostal" Ignore="false" Default="" Format="00000"/>
            <MapElement NoColumn="1" Attribute="Estado" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="2" Attribute="Municipio" Ignore="false" Default="" Format="000" />
            <MapElement NoColumn="3" Attribute="Localidad" Ignore="false" Default="" Format="00" />
            <MapElement NoColumn="" Attribute="FechaInicioVigencia" Ignore="true" Default="27/03/2017" Format="" />
            <MapElement NoColumn="" Attribute="FechaFinVigencia" Ignore="true" Default="null" Format="" />
            <MapElement NoColumn="" Attribute="Version" Ignore="true" Default="2.0" Format="" />
          </MapElements>
        </Mapper>
      </Mappers>

      <Sheets>
        <Sheet NoSheet="1" SheetName="c_CodigoPostal_Parte_1" RowNumberStartData="6" RowNumberStopData = "47889" Map="MapCP"/>
        <Sheet NoSheet="2" SheetName="c_CodigoPostal_Parte_2" RowNumberStartData="6" RowNumberStopData = "47898" Map="MapCP"/>
      </Sheets>

    </ExcelMapping>


    <ExcelMapping Name="TasaOCuota">

      <Mappers>
        <Mapper Name="MapTasaOCuota">
          <MapElements>
            <MapElement NoColumn="0" Attribute="RangoOFijo" Ignore="false" Default="" Format=""/>            
            <MapElement NoColumn="1" Attribute="ValorMinimo" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="2" Attribute="ValorMaximo" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="3" Attribute="Impuesto" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="4" Attribute="Factor" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="5" Attribute="TrasladoTexto" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="6" Attribute="RetencionTexto" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="" Attribute="FechaInicioVigencia" Ignore="true" Default="27/03/2017" Format="" />
            <MapElement NoColumn="" Attribute="FechaFinVigencia" Ignore="true" Default="null" Format="" />
            <MapElement NoColumn="" Attribute="Version" Ignore="true" Default="1.0" Format="" />
          </MapElements>
        </Mapper>
      </Mappers>

      <Sheets>
        <Sheet NoSheet="1" SheetName="c_TasaOCuota" RowNumberStartData="7" RowNumberStopData = "24" Map="MapTasaOCuota"/>
      </Sheets>

    </ExcelMapping>


    <ExcelMapping Name="ClaveUnidad">

      <Mappers>
        <Mapper Name="MapClaveUnidad">
          <MapElements>
            <MapElement NoColumn="0" Attribute="Clave" Ignore="false" Default="" Format=""/>                                    
            <MapElement NoColumn="4" Attribute="FechaInicioVigencia" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="5" Attribute="FechaFinVigencia" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="6" Attribute="Simbolo" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="" Attribute="Version" Ignore="true" Default="2.0" Format="" />
          </MapElements>
        </Mapper>
      </Mappers>

      <Sheets>
        <Sheet NoSheet="1" SheetName="c_ClaveUnidad" RowNumberStartData="7" RowNumberStopData = "2424" Map="MapClaveUnidad"/>
      </Sheets>

    </ExcelMapping>



    <ExcelMapping Name="FormaPago">

      <Mappers>
        <Mapper Name="MapFormaPago">
          <MapElements>
            <MapElement NoColumn="0" Attribute="Clave" Ignore="false" Default="" Format="00"/>            
            <MapElement NoColumn="2" Attribute="Bancarizado" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="3" Attribute="NumeroDeOperacion" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="4" Attribute="RfcCuentaOrdenante" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="5" Attribute="CuentaOrdenante" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="6" Attribute="PatronCuentaOrdenante" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="7" Attribute="RfcCuentaBeneficiario" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="8" Attribute="CuentaBeneficiario" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="9" Attribute="PatronCuentaBeneficiario" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="10" Attribute="TipoCadenaPago" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="11" Attribute="NombreBancoEmisor" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="12" Attribute="FechaInicioVigencia" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="13" Attribute="FechaFinVigencia" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="" Attribute="Version" Ignore="true" Default="1.0" Format="" />
          </MapElements>
        </Mapper>
      </Mappers>

      <Sheets>
        <Sheet NoSheet="1" SheetName="c_FormaPago" RowNumberStartData="7" RowNumberStopData = "27" Map="MapFormaPago"/>
      </Sheets>

    </ExcelMapping>


    <ExcelMapping Name="Impuesto">

      <Mappers>
        <Mapper Name="MapImpuesto">
          <MapElements>
            <MapElement NoColumn="0" Attribute="Clave" Ignore="false" Default="" Format="000"/>
            <MapElement NoColumn="1" Attribute="Descripcion" Ignore="false" Default="" Format=""/>
            <MapElement NoColumn="2" Attribute="Retencion" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="3" Attribute="Traslado" Ignore="false" Default="" Format="" />            
            <MapElement NoColumn="" Attribute="FechaInicioVigencia" Ignore="true" Default="01/01/2017" Format="" />
            <MapElement NoColumn="" Attribute="FechaFinVigencia" Ignore="true" Default="null" Format="" />
            <MapElement NoColumn="" Attribute="Version" Ignore="true" Default="1.0" Format="" />
          </MapElements>
        </Mapper>
      </Mappers>

      <Sheets>
        <Sheet NoSheet="1" SheetName="c_Impuesto" RowNumberStartData="6" RowNumberStopData = "8" Map="MapImpuesto"/>
      </Sheets>

    </ExcelMapping>

    <ExcelMapping Name="MetodoPago">

      <Mappers>
        <Mapper Name="MapMetodoPago">
          <MapElements>
            <MapElement NoColumn="0" Attribute="Clave" Ignore="false" Default="" Format=""/>            
            <MapElement NoColumn="2" Attribute="FechaInicioVigencia" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="3" Attribute="FechaFinVigencia" Ignore="false" Default="null" Format="" />
            <MapElement NoColumn="" Attribute="Version" Ignore="true" Default="2.0" Format="" />
          </MapElements>
        </Mapper>
      </Mappers>

      <Sheets>
        <Sheet NoSheet="1" SheetName="c_MetodoPago" RowNumberStartData="7" RowNumberStopData = "9" Map="MapMetodoPago"/>
      </Sheets>

    </ExcelMapping>

    <ExcelMapping Name="Moneda">

      <Mappers>
        <Mapper Name="MapMoneda">
          <MapElements>
            <MapElement NoColumn="0" Attribute="Clave" Ignore="false" Default="" Format=""/>            
            <MapElement NoColumn="2" Attribute="Decimales" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="3" Attribute="PorcentajeVariacion" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="" Attribute="FechaInicioVigencia" Ignore="true" Default="01/01/2017" Format="" />
            <MapElement NoColumn="" Attribute="FechaFinVigencia" Ignore="true" Default="null" Format="" />
            <MapElement NoColumn="" Attribute="Version" Ignore="true" Default="1.0" Format="" />
          </MapElements>
        </Mapper>
      </Mappers>

      <Sheets>
        <Sheet NoSheet="1" SheetName="c_Moneda" RowNumberStartData="6" RowNumberStopData = "183" Map="MapMoneda"/>
      </Sheets>

    </ExcelMapping>

    <ExcelMapping Name="NumPedimentoAduana">

      <Mappers>
        <Mapper Name="MapNumPedimentoAduana">
          <MapElements>
            <MapElement NoColumn="0" Attribute="PatenteAduanal" Ignore="false" Default="" Format="00"/>
            <MapElement NoColumn="1" Attribute="Aduana" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="2" Attribute="Ejercicio" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="3" Attribute="Cantidad" Ignore="false" Default="" Format="000000" />
            <MapElement NoColumn="4" Attribute="FechaInicioVigencia" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="5" Attribute="FechaFinVigencia" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="" Attribute="Version" Ignore="true" Default="1.0" Format="" />
          </MapElements>
        </Mapper>
      </Mappers>

      <Sheets>
        <Sheet NoSheet="1" SheetName="c_NumPedimentoAduana" RowNumberStartData="6" RowNumberStopData = "27310" Map="MapNumPedimentoAduana"/>
      </Sheets>

    </ExcelMapping>


    <ExcelMapping Name="Pais">

      <Mappers>
        <Mapper Name="MapPais">
          <MapElements>
            <MapElement NoColumn="0" Attribute="Clave" Ignore="false" Default="" Format=""/>
            <MapElement NoColumn="1" Attribute="Descripcion" Ignore="false" Default="" Format="" />            
            <MapElement NoColumn="3" Attribute="FormatoRIT" Ignore="false" Default="" Format="" />            
            
            <MapElement NoColumn="" Attribute="FechaInicioVigencia" Ignore="true" Default="01/01/2017" Format="" />
            <MapElement NoColumn="" Attribute="FechaFinVigencia" Ignore="true" Default="null" Format="" />
            <MapElement NoColumn="" Attribute="Version" Ignore="true" Default="1.0" Format="" />
          </MapElements>
        </Mapper>
      </Mappers>

      <Sheets>
        <Sheet NoSheet="1" SheetName="c_Pais" RowNumberStartData="6" RowNumberStopData = "255" Map="MapPais"/>
      </Sheets>

    </ExcelMapping>


    <ExcelMapping Name="PatenteAduanal">

      <Mappers>
        <Mapper Name="MapPatenteAduanal">
          <MapElements>
            <MapElement NoColumn="0" Attribute="Clave" Ignore="false" Default="" Format=""/>
            <MapElement NoColumn="1" Attribute="FechaInicioVigencia" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="2" Attribute="FechaFinVigencia" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="" Attribute="Version" Ignore="true" Default="2.0" Format="" />
          </MapElements>
        </Mapper>
      </Mappers>

      <Sheets>
        <Sheet NoSheet="1" SheetName="c_PatenteAduanal" RowNumberStartData="6" RowNumberStopData = "3139" Map="MapPatenteAduanal"/>
      </Sheets>

    </ExcelMapping>

    <ExcelMapping Name="RegimenFiscal">

      <Mappers>
        <Mapper Name="MapRegimenFiscal">
          <MapElements>
            <MapElement NoColumn="0" Attribute="Clave" Ignore="false" Default="" Format=""/>            
            <MapElement NoColumn="2" Attribute="FisicaTexto" Ignore="false" Default="" Format=""/>
            <MapElement NoColumn="3" Attribute="MoralTexto" Ignore="false" Default="" Format=""/>
            <MapElement NoColumn="4" Attribute="FechaInicioVigencia" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="5" Attribute="FechaFinVigencia" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="" Attribute="Version" Ignore="true" Default="1.0" Format="" />
          </MapElements>
        </Mapper>
      </Mappers>

      <Sheets>
        <Sheet NoSheet="1" SheetName="c_RegimenFiscal" RowNumberStartData="7" RowNumberStopData = "27" Map="MapRegimenFiscal"/>
      </Sheets>

    </ExcelMapping>


    <ExcelMapping Name="TipoFactor">
      <Mappers>
        <Mapper Name="MapTipoFactor">
          <MapElements>
            <MapElement NoColumn="0" Attribute="Clave" Ignore="false" Default="" Format=""/>
            <MapElement NoColumn="" Attribute="FechaInicioVigencia" Ignore="true" Default="01/01/2017" Format="" />
            <MapElement NoColumn="" Attribute="FechaFinVigencia" Ignore="true" Default="" Format="" />
            <MapElement NoColumn="" Attribute="Version" Ignore="true" Default="1.0" Format="" />
          </MapElements>
        </Mapper>
      </Mappers>
      <Sheets>
        <Sheet NoSheet="1" SheetName="c_TipoFactor" RowNumberStartData="6" RowNumberStopData = "8" Map="MapTipoFactor"/>
      </Sheets>
    </ExcelMapping>

    <ExcelMapping Name="TipoRelacion">
      <Mappers>
        <Mapper Name="MapTipoRelacion">
          <MapElements>
            <MapElement NoColumn="0" Attribute="Clave" Ignore="false" Default="" Format=""/>            
            <MapElement NoColumn="" Attribute="FechaInicioVigencia" Ignore="true" Default="01/01/2017" Format="" />
            <MapElement NoColumn="" Attribute="FechaFinVigencia" Ignore="true" Default="" Format="" />
            <MapElement NoColumn="" Attribute="Version" Ignore="true" Default="1.0" Format="" />
          </MapElements>
        </Mapper>
      </Mappers>
      <Sheets>
        <Sheet NoSheet="1" SheetName="c_TipoRelacion" RowNumberStartData="6" RowNumberStopData = "11" Map="MapTipoRelacion"/>
      </Sheets>
    </ExcelMapping>


    <ExcelMapping Name="UsoCfdi">
      <Mappers>
        <Mapper Name="MapUsoCfdi">
          <MapElements>
            <MapElement NoColumn="0" Attribute="Clave" Ignore="false" Default="" Format=""/>            
            <MapElement NoColumn="2" Attribute="FisicaTexto" Ignore="false" Default="" Format=""/>
            <MapElement NoColumn="3" Attribute="MoralTexto" Ignore="false" Default="" Format=""/>
            <MapElement NoColumn="4" Attribute="FechaInicioVigencia" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="5" Attribute="FechaFinVigencia" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="" Attribute="Version" Ignore="true" Default="1.0" Format="" />
          </MapElements>
        </Mapper>
      </Mappers>
      <Sheets>
        <Sheet NoSheet="1" SheetName="c_UsoCFDI" RowNumberStartData="7" RowNumberStopData = "28" Map="MapUsoCfdi"/>
      </Sheets>
    </ExcelMapping>-->


    <!--
    Leyendo la misma Hoja con multiples mapeos
    
    <ExcelMapping Name="TipoComprobante">
      <Mappers>
        <Mapper Name="MapTipoComprobante">
          <MapElements>
            <MapElement NoColumn="0" Attribute="Clave" Ignore="false" Default="" Format=""/>
            <MapElement NoColumn="1" Attribute="Descripcion" Ignore="false" Default="" Format=""/>
            <MapElement NoColumn="2" Attribute="Valor_Maximo" Ignore="false" Default="" Format=""/>
            <MapElement NoColumn="4" Attribute="FechaInicioVigencia" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="5" Attribute="FechaFinVigencia" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="" Attribute="Version" Ignore="true" Default="1.0" Format="" />
          </MapElements>
        </Mapper>
        <Mapper Name="MapTipoComprobante2">
          <MapElements>
            <MapElement NoColumn="" Attribute="Clave" Ignore="true" Default="N" Format=""/>
            <MapElement NoColumn="1" Attribute="Descripcion" Ignore="false" Default="" Format=""/>
            <MapElement NoColumn="2" Attribute="Valor_Maximo_NS" Ignore="false" Default="" Format=""/>
            <MapElement NoColumn="3" Attribute="Valor_Maximo_NdS" Ignore="false" Default="" Format=""/>
            <MapElement NoColumn="4" Attribute="FechaInicioVigencia" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="5" Attribute="FechaFinVigencia" Ignore="false" Default="" Format="" />
            <MapElement NoColumn="" Attribute="Version" Ignore="true" Default="1.0" Format="" />
          </MapElements>
        </Mapper>
      </Mappers>
      <Sheets>
        <Sheet NoSheet="1" SheetName="c_TipoDeComprobante" RowNumberStartData="6" RowNumberStopData = "8" Map="MapTipoComprobante"/>
        <Sheet NoSheet="2" SheetName="c_TipoDeComprobante" RowNumberStartData="10" RowNumberStopData = "10" Map="MapTipoComprobante2"/>
        <Sheet NoSheet="3" SheetName="c_TipoDeComprobante" RowNumberStartData="11" RowNumberStopData = "11" Map="MapTipoComprobante"/>
      </Sheets>
    </ExcelMapping>-->

  </ExcelMappings>
</ExcelMappingSection>